.bar {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);

    margin: 0 auto;
    width: max(34vw, 250px);
    border-radius: 30px;
    border: 1px solid #dcdcdc;
}

.bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.input {
    height: 45px;
    border: none;
    width: 85%;
    font-size: 16px;
    outline: none;
}
